body {
	font-family: arial;
}
.grid {
	display: grid;
	grid-auto-columns: 1.5fr 1100px 1fr;
	grid-auto-rows: 1fr 3fr 1fr;
}
.header {
	grid-column: 1/4;
	grid-row: 1;
	background-color: gray;
}
.footer {
	grid-column: 1/4;
	grid-row: 3;
	background-color: green;
}
.text {
	grid-column: 1/3;
	grid-row: 2;
	background-color: yellow;
}
.ad-bar {
	grid-column: 3;
	grid-row: 2;
	background-color: red;
}
