header {
	grid-area: header;
}
main {
	grid-area: text;
}
aside {
	grid-area: ad-bar;
}
footer {
	grid-area: footer;
}
nav {
	grid-area: nav;
}
#grid {
	display: grid;
}
@media (max-width: 680px) {
    #grid {
    		grid-auto-rows: auto auto auto 80px auto;
		grid-template-areas:
		"header"
		"nav"
		"text" 
		"ad-bar"
		"footer";
    }
}
 @media (min-width: 680px) and (max-width: 991px) {
     #grid {
		grid-template-columns: auto 80px;
		grid-template-areas:
		"header  header"
		"nav nav"
		"text ad-bar"
		"footer  footer";
     }
}
 @media (min-width: 991px) {
     #grid {
		grid-template-columns: auto 150px;
		grid-template-areas:
		"header  header"
		"nav nav"
		"text ad-bar"
		"footer  footer";
     }
}
header {
	background-color: #333;
	padding: 5px 20px;
}
aside {
	background-color: #339;
	padding: 0px;
}
main {
	background-color: #335;
	padding: 5px 20px;
}
footer {
	background-color: #335;
	padding: 5px 20px 40px 20px;
}
body {
	font-family: arial;
	margin: 0;
	color: white;
	font-size: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}
header h1 {
	margin: 0px;
}
nav a {
	padding: 0px 20px;
}
#ik {
	color: orange;
	font-weight: bold;
}
#ik:hover {
	color: red;
	font-weight: bold;
}
#ik:visited {
	color:yellow;
	font-weight: bold;
}
#ik:visited:hover {
	color: red;
	font-weight: bold;
}
main h3 {
	padding: 20px 10px 0px 0px;
	margin: 0px;
}
p {
	margin: 10px;
	margin: 0px;
}
main ul,ol {
	margin: 0px;
	padding: 5px 0px 10px 20px;
}
@media (max-width: 820px) {
	#main-grid {
		display: grid;
		grid-auto-columns: 1fr
		grid-auto-rows: 1fr 1fr 1fr 1fr;
		grid-gap: 15px;
	}
	#main-grid #one {
		grid-column: 1;
		grid-row: 1;
	}
	#main-grid #two {
		grid-column: 1;
		grid-row: 2;
	}
	#main-grid #three {
		grid-column: 1;
		grid-row: 3;
	}
	#main-grid #four {
		grid-column: 1;
		grid-row: 4;
	}
}
@media (min-width: 820px) {
	#main-grid {
		display: grid;
		grid-auto-columns: 1fr 1fr;
		grid-auto-rows: 1fr 1fr;
		grid-gap: 25px;
	}
	#main-grid #one {
		grid-column: 1;
		grid-row: 1;
	}
	#main-grid #two {
		grid-column: 2;
		grid-row: 1;
	}
	#main-grid #three {
		grid-column: 1;
		grid-row: 2;
	}
	#main-grid #four {
		grid-column: 2;
		grid-row: 2;
	}
}
main a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}
#discord {
	width: 80%;
	height: 40%;
}
#horo {
	width: 55%;
	height: 80%;
}
#horo2 {
	width: 40%;
	height: 80%;
}
#companion {
	width: 30%;
	height: 30%;
}
#rwby {
	width: 35%;
	height: 80%;
}
#rwby-banner {
	width: 100%;
	height: 

}
main nav ul{
   background-color: #335;
}
h1,h2,h3,h4,a,ol,ul li,p::first-letter {
  text-transform: capitalize;
}
h4 {
	margin: 0px;
}